body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-image: url('login.png'); /* Example online image */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.container {
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}
.container:hover {
    transform: scale(1.05); /* Scale effect on hover */
}
h1 {
    margin-bottom: 20px;
    font-size: 36px;
}
input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 5px #007BFF;
}
.login-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.login-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Scale effect on hover */
}
